@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-datepicker/dist/react-datepicker.css";
@layer base {
  /* roboto-mono-regular - latin */
  @font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("./assets/fonts/roboto-mono-v12-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/roboto-mono-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-mono-700 - latin */
  @font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 700;
    src: local(""),
      url("./assets/fonts/roboto-mono-v12-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/roboto-mono-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: .75em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  border: solid 2px white;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.date-picker-width {
  width: 100%
}

.date-picker-width, 
.date-picker-width > div.react-datepicker-wrapper, 
.date-picker-width > div > div.react-datepicker__input-container
.date-picker-width > div > div.react-datepicker__input-container input {
   width: 100%;
}

.placeholder-text::placeholder {
  font-size: 0.75em;
  color: #888293;
}

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}