@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-datepicker/dist/react-datepicker.css";
@layer base {
  /* roboto-mono-regular - latin */
  @font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("./assets/fonts/roboto-mono-v12-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/roboto-mono-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-mono-700 - latin */
  @font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 700;
    src: local(""),
      url("./assets/fonts/roboto-mono-v12-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/roboto-mono-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: .75em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  border: solid 2px white;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.react-datepicker__input-container {
  position: relative;
}

.date-picker-width {
  width: 100%;
}

.react-datepicker {
  background-color: rgb(0,0,0);
  border: 2px solid #29262F;
  min-width: max-content;
  position: absolute;
  z-index: 99999;
}

.react-datepicker * {
  color: white;
  background-color: rgb(0,0,0);
}

.react-datepicker__header {
  border-bottom-color: #29262F;
}
.react-datepicker__time-container {
  border-left-color: #29262F;
}

.react-datepicker__time-container li.react-datepicker__time-list-item  {
  border-top: 2px solid #29262F;
  display: flex;
  align-items: center;
  justify-content: center;
}

li.react-datepicker__time-list-item:hover, 
div.react-datepicker__day:hover {
  color: black;
  background-color: #9A9A9A;
  font-weight: 700;
}

.react-datepicker__day--disabled {
  color: #888293;
  font-size: 0.7rem;
}

.react-datepicker__navigation {
  color: white;
}

.date-picker-width, 
.date-picker-width > div.react-datepicker-wrapper, 
.date-picker-width > div > div.react-datepicker__input-container
.date-picker-width > div > div.react-datepicker__input-container input {
   width: 100%;
}

.placeholder-text::placeholder {
  font-size: 0.75em;
  color: #888293;
}

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  
}

html::-webkit-scrollbar {
  background-color: rgb(11,11,11);
}


.remove-input-steps::-webkit-inner-spin-button,
.remove-input-steps::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

textarea { resize: none; }

.radio-styles input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.radio-styles label {
  cursor: pointer;
  display: flex;  
  margin-right: 1rem;
  position: relative;
  align-items: center;
}

.radio-styles label:before {
  background-color: rgb(11,11,11);
  border: .1rem solid #888293;
  border-radius: .8rem;
  content: "";  
  display: flex;
  height: .75rem;
  margin-right: .4rem;
  width: .75rem;  
} 

.radio-styles input[type=radio]:checked + label:after { 
  background: #FFF;
  border-radius: .5rem;
  content: '';
  height: .375rem;
  left: 0.2rem;
  position: absolute;
  top: 0.875rem;
  width: .375rem;
}

.input-placeholder {
    background-image: url('./assets/images/icon.svg');
    background-size: 16px;
    background-position: 1rem;
    background-repeat: no-repeat;
    text-indent: 20px;
    padding-left: 1.5rem;
}

.input-placeholder::placeholder {
  color: #29262F;
  font-size: 14px;
}

@keyframes ease-in {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.ease-in-transition > div:not(:first-child) {
  animation-duration: .5s;
  animation-name: ease-in;
  transform-origin: top;
}

.hide-scrollbar::-webkit-scrollbar {
  background-color: rgb(11,11,11);
}